{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block content %}
<form action="http://httpbin.org/post" method="post">
    <br/>
    <h3 align="center">Job Title</h3>
    <div class="form-group" align="center">
        <select data-placeholder="Begin typing a job title to filter..." multiple class="chosen-select" name="job_title" style="width: 200px;" font-size="20px">
        <option value=""></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        </select>
        <button type="button" class="btn btn-primary">Submit</button>
    </div>

    <br/>
    <h3 align="center">Location</h3>
    <div class="form-group" align="center">
        <select data-placeholder="Begin typing a location to filter..." multiple class="chosen-select" name="location" style="width: 200px;" font-size="20px">
        <option value=""></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        </select>
        <button type="button" class="btn btn-primary">Submit</button>
    </div>

    
</form>
<script>
    $(".chosen-select").chosen({no_results_text: "Nothing found!"})
</script>
{% endblock %}
